@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* ---- main style ---- */

body {
    background-color: #f1f1f1;
    height: 100%;
}

main {
    margin: 70px 10px 0 10px;
    background-color: #fff;
    padding: 2rem 5rem;
}

.main-content {
    position: relative;
    color: black;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

h1 {
    margin: 1rem 0;
    font-size: 1.6rem;
}

h2 {
    margin-top: 1rem;
    font-size: 1.4rem;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

h4 {
    margin-top: 1rem;
    font-size: 1.0rem;
}

h5 {
    margin-top: .8rem;
    font-size: 2rem;
}

a {
    color: red;
}

a:hover {
    color: darkred;
}

a:visited {
    color: lightcoral;
}

/* Style main Navigation */

.overlay-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-nav-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3;
}

.overlay-nav a:hover, .overlay-nav a:focus {
    color: #f1f1f1;
}

.overlay-nav .closebtn {
    position: absolute;
    top: -50%;
    right: 45px;
    font-size: 60px;
}


/* ---- header style ---- */

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 140;
    width: 100%;
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-header {
    margin: auto;
    max-width: 1000px;
    padding: 0rem;
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon span {
    font-size: 2rem;
    margin-left: 2rem;
}

.dach-logo {
    display: flex;
    align-content: center;
}

.dach-logo div {
    left: calc(50% - 7rem);
    width: 14rem;
    height: 10rem;
    position: absolute;
    align-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/media/DACH_logo.png);
    align-items: center;
}


/* ---- footer style ---- */

footer {
    margin: 10px;
    background-color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    
}

nav li {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 4px 6px;
}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    color: gray;
}

li a:visited {
    color: black;
}


/* ---- dashboard style ---- */

h2.title {
    margin-bottom: 1rem;
}

.dash-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.card-single {
    background: #fff;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    height: 100%;
    color: white;
}

.card-single,
.card-single>div {
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.card-single:before {
    content: "";
    height: 100%;
    float: left;
}

.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
}

.card-body:after {
    content: "";
    display: block;
    clear: both;
}

.card-body span {
    font-size: 2rem;
    color: #777;
    padding-right: 1.3rem;
}

.card-body h5 {
    margin-top: 0;
    color: gray;
    font-size: 1rem;
}

.card-body h4 {
    color: black;
    font-size: 1.1rem;
    margin-top: .2rem;
}

.card-footer {
    padding: .2rem 1rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: red;
}

.card-footer a {
    color: white;
}

.recent {
    margin-top: 2rem; 
    margin-bottom: 2rem;
}

.activity-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 1.5rem;
}

.room-card,
.summary-card {
    background: #fff;
    border: 1px solid black;
    border-radius: 7px;
}

.table-responsive {
    overflow-x: auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.room-card h3 {
    color: var(--text-grey);
    margin: 1rem;   
}

.room-card table {
    width: 100%;
    border-collapse: collapse;
}

.room-card thead {
    background: #efefef;
    text-align: left;
    color: red;
}

th, td {
    font-size: .9rem;
    padding: 1rem;
    color: var(--color-dark);
}

td {
    font-size: .8rem;
}

tbody tr:nth-child(even) {
    background: #f9fafc
}

.summary {
    margin-right: 1.5rem;
}

.summary-card {
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.summary-single {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

.summary-single span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1rem;
}

.summary-single h5 {
    color: red;
    font-size: 1.1rem;
    margin-bottom: 0rem !important;
}

.summary-singel small {
    font-weight: 700;
    color: var(--text-grey);
}

.text-center {
    text-align: center;
}

.text-center button {
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: .4rem 1rem;
}


/* ---- Style Form ---- */

.container-form {
    margin-top: 2rem;
}

.form div{
    margin: auto;
    max-width: 700px;
}

.col-25 label {
    float: left;
    width: 25%;
}

.col-75 {
    float: left;
    width: 75%;
}

.col-100 {
    float: left;
    width: 100%;
}

label[input] {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
}

.form-control input {
    margin: 0;
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    resize: vertical;
    background-color: #f1f1f1;
}

.datenschutz {
    padding: 20px 10px;
    align-content: center;
    align-items: center;
}

.datenschutz input[type="checkbox"] {
    position: absolute;
    left: -15px;
}

.datenschutz input[type="checkbox"] + label::before {
    width: 12px;
    height: 12px;
    border-radius: 5px;
    border: 2px solid red;
    background-color: #fff;
    display: block;
    content: "";
    float: left;
    margin: 4px 10px 0 0;
}

.datenschutz input[type="checkbox"]:checked+label::before {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: red;
}

.form-control input:focus {
    background-color: #ddd;
    outline: none;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    position: absolute;
    top: 13px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 5px;
}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
}

.form button {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.form button:hover {
    background-color: darkred;
}


/* ---- Responsive layout ---- */

@media screen and (max-width: 800px) {
    .activity-grid {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 1.5rem;
    }
    
    .summary {
        margin-top: 1.5rem;
        margin-right: 0rem;
    }
    
    .summary-card {
        margin-bottom: 0rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        text-align: center;
    }
    
    .summary-single {
        padding: .4rem 1rem;
        display: inline-flex;
        align-items: center;
    }
    
    .summary-single span {
        font-size: 1.4rem;
        padding-right: 0.6rem;
    }

    .summary-single h5 {
        font-size: 1.2rem;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .col-25 label, .col-75, .col-100, input[type=submit] {
        width: 100%;
    }
    
    .col-25 label {
        padding: 0 10px 10px 0;
    }
    
    .dash-cards {
        grid-template-columns: 100%;
    }
    
    main {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    
    .summary-single {
        padding: .4rem 0.5rem;
    }
    
    .summary-single span {
        font-size: 1.6rem;
        padding-right: 0.6rem;
    }

    .summary-single h5 {
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 450px) {
    main {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    .overlay a {
        font-size: 20px
    }

    .overlay, 
    .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
    
    .summary-single {
        padding: .4rem 0.5rem;
    }
    
    .summary-single span {
        font-size: 1.2rem;
        padding-right: 0.6rem;
    }

    .summary-single h5 {
        font-size: 1rem;
    }
    
    .summary-single small {
        font-size: 0.7rem;
    }
}